<div class="wrapper" style="width: 100%;">
  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
    </div>
    <div class="footer-col footer-col-2">
      <div class="">
        <div>
          <a href="https://github.com/merudata">
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            <span class="username">merudata</span></a>
        </div>
        <div>
          <a href="https://www.twitter.com/merudata">
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
            </svg>
            <span class="username">merudata</span></a>
        </div>
      </div>
    </div>

    <div class="footer-col footer-col-3">
    </div>
  </div>
</div>
</footer>